.architecture {

  &__list {
    grid-template-columns: repeat(2, 325px);
    gap: rem(30);

    @include for-width(-desktop-sm) {
      grid-template-columns: repeat(2, 300px);
    }

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-l) {
      gap: rem(15);
    }

    @include for-width(-mobile-md) {
      grid-template-columns: repeat(1, 1fr);
      gap: rem(30) 0;
    }
  }

  .item-list {
    &__item {
      padding: rem(24) rem(40);
      text-align: center;

      &:last-child {
        .item-title {
          margin: 0 auto rem(17);
          max-width: 160px;

          @include for-width(-tablet) {
            max-width: 100%;
          }
        }
      }

      &:nth-child(n+3) {
        padding: rem(24) rem(17);
      }
    }

    .item-title {
      margin-bottom: rem(17);
    }
  }
}
