.platform {
  @include flex-s-sb;

  &__content {
    width: 100%;
    max-width: 650px;

    .title-sec {
      text-transform: capitalize;
    }

    >.text {
      margin-bottom: rem(22);
      max-width: 570px;
    }
  }

  &__animation {
    margin-right: rem(-45);
  }

  &__content-btn {
    margin-bottom: rem(60);
  }

  &--reverse {
    flex-flow: row-reverse;
    align-items: center;

    .platform__content {
      padding-top: rem(50);
      max-width: 610px;

      >.text {
        max-width: 530px;
      }
    }

    .item-list {
      grid-template-columns: rem(230) rem(250);
      gap: rem(60) rem(115);
    }

    .platform__picture {
      margin: rem(-15) rem(-43);
    }
  }
}
