.problem {
  padding-top: rem(24);

  .item-list {
    &__item {
      padding: rem(95) rem(30) rem(35);

      &::before {
        left: 0;
        right: 0;
        top: rem(43);
        margin: 0 auto;
      }

      .text {
        margin: 0 auto;
        width: 100%;
        max-width: 330px;

        @include for-width(-tablet) {
          max-width: 100%;
        }
      }

      &--outages {
        .text {
          max-width: 270px;

          @include for-width(-tablet) {
            max-width: 100%;
          }
        }
      }

      @include for-width(-tablet) {
        padding: rem(85) rem(55) rem(15);
      }

      @include for-width(-mobile-md) {
        padding: rem(85) rem(25) rem(26);
      }
    }

    .item-title {
      margin-bottom: rem(15);
    }
  }

  .page-list__title {
    @include for-width(-tablet) {
      margin-bottom: rem(50);
    }
  }

  @include for-width(-tablet) {
    margin-bottom: rem(50);
  }
}
