.btn {
  @include h4;

  display: inline-block;
  border-radius: var(--radius-main);
  padding: rem(19) rem(20);
  line-height: 1.4;
  letter-spacing: 0;
  color: var(--color-white);
  transition: box-shadow 0.2s ease-in-out;

  &:focus {
    color: var(--color-yellow-700);
  }

  &:hover {
    color: var(--color-yellow-700);
  }

  &:active {
    color: var(--color-yellow-700);
  }

  &.disabled {
    color: var(--color-gray-700);
  }

  &--colored {
    color: var(--color-black);
    background-color: var(--color-yellow-900);

    &:focus {
      box-shadow: 0 4px 15px rgba(237, 196, 125, 0.35);
      color: var(--color-black);
    }

    &:hover {
      box-shadow: 0 4px 15px rgba(237, 196, 125, 0.35);
      color: var(--color-black);
    }

    &:active {
      color: var(--color-black);
    }

    &.disabled {
      color: var(--color-gray-700);
      background-color: var(--color-gray-500);
    }
  }

  &--book {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: -12px;
      width: 24px;
      height: 24px;
      background-image: url("../img/sprite.svg#arrow-next");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
