.hero {
  @include flex-s-sb;

  position: relative;
  margin-bottom: rem(86);
  padding: rem(30) 0 rem(80);

  &__inner {
    width: 100%;
    max-width: 490px;
  }

  &__img-picture {
    position: absolute;
    right: -17%;
    top: 2px;
    width: 100%;
    max-width: rem(1033);

    @include for-width(-desktop-med) {
      width: 73%;
      height: 100%;
    }
  }

  &__btns {
    @include flex-s;
  }

  .btn {
    @include flex-all-center;

    letter-spacing: 0.02em;

    &__icon {
      margin-left: 10px;
      width: 24px;
      height: 24px;
      stroke: currentColor;
    }

    &:first-child {
      margin-right: rem(20);
    }
  }

  &--platform {
    margin-bottom: rem(60);

    .title {
      padding-top: rem(50);
    }

    .text {
      max-width: 315px;
    }
  }
}

.scroll-block {
  position: relative;
  margin-bottom: rem(200);
  padding: rem(39) rem(26);
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.01em;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: var(--radius-main);
    width: 2px;
    height: 100%;
    background-color: var(--color-gray-800);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 57%;
    background-color: var(--color-blue-700);
  }
}
