.page-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 rem(30);

  &__item {
    position: relative;
    padding: rem(95) rem(40) rem(37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
    text-align: center;
    background: var(--color-gradient);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 43px;
      margin: 0 auto;
      width: 32px;
      height: 32px;
      background-image: url("../img/sprite.svg#dislike");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:last-child {
      .text {
        margin: 0 auto;
        max-width: 260px;
      }
    }

    &--misco {
      &::before {
        background-image: url("../img/sprite.svg#dislike");
      }
    }

    &--attack {
      &::before {
        background-image: url("../img/sprite.svg#alert");
      }
    }

    &--outages {
      &::before {
        background-image: url("../img/sprite.svg#shield-done");
      }
    }

    &--complete {
      &::before {
        background-image: url("../img/sprite.svg#git-pull");
      }
    }

    &--fast {
      &::before {
        background-image: url("../img/sprite.svg#result");
      }
    }

    &--accurate {
      &::before {
        background-image: url("../img/sprite.svg#crosshair");
      }
    }

    &--grow {
      &::before {
        background-image: url("../img/sprite.svg#grow");
      }
    }

    &--scenarios {
      &::before {
        background-image: url("../img/sprite.svg#real");
      }
    }

    &--fun {
      &::before {
        background-image: url("../img/sprite.svg#play");
      }
    }
  }

  &__titles {
    margin-bottom: rem(20);
  }

  .text {
    margin-bottom: 0;
    line-height: 2.1;

    &--width {
      margin: 0 auto;
      max-width: 270px;
    }
  }

  &__platform {
    margin-bottom: rem(62);

    .box-item {
      padding-top: rem(85);

      .text {
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
      }

      &:last-child {
        .text {
          width: 100%;
          max-width: 310px;
        }
      }
    }

    .page-list__item {
      &::before {
        top: rem(35);
      }
    }
  }
}

.home {
  &__problems {
    .title-sec {
      margin-bottom: rem(66);
    }
  }
}

.product-page {
  .title-sec {
    margin-bottom: rem(25);
    text-align: center;
  }

  .text {
    margin: 0 auto rem(64);
    width: 100%;
    max-width: 645px;
    text-align: center;
  }
}
