.title {
  @include h1;

  margin-bottom: rem(20);
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.title-sec {
  @include h2;

  margin-bottom: 18px;
  letter-spacing: 0.04em;

  &--center {
    margin: 0 auto;
    width: 100%;
    max-width: 490px;
    text-align: center;
  }
}

.title-block {
  @include h3;

  margin-bottom: 18px;
  letter-spacing: 0.04em;
}

.slogan {
  @include h4;

  display: block;
  margin-bottom: rem(23);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--color-blue-700);
}

.text {
  @include body;

  margin-bottom: rem(44);
  line-height: 2.02;
  letter-spacing: 0.02em;
  color: var(--color-white);
  opacity: 0.8;
}
