.title {
  @include h1;

  margin-bottom: 15px;
}

.slogan {
  @include h4;

  display: block;
  margin-bottom: rem(25);
  text-transform: uppercase;
  color: var(--color-blue-700);
}

.text {
  @include subtitle;

  margin-bottom: rem(40);
  color: var(--color-white);
  opacity: 0.8;
}
