.single-nav {
  @include flex-all-sb;

  &__item {
    &:not(:last-child) {
      margin-right: rem(20);

      @include for-width(-mobile-md) {
        margin-right: 0;
      }
    }

    span {
      width: 100%;
      max-width: 270px;

      @include for-width(-mobile-md) {
        display: none;
      }
    }
  }

  .single-link {
    position: relative;
  }

  @include for-width(-mobile-md) {
    justify-content: space-evenly;
  }
}
