.newsroom-list {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-out;

  &__time {
    display: block;
    margin-bottom: rem(16);
    letter-spacing: 0.06em;
    opacity: 0.8;
  }

  &__item {
    padding: rem(40) 0 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-blue-300);
      padding: rem(40) 0;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__logo {
    margin-bottom: rem(10);
    width: 100%;
    max-width: 190px;
  }

  &--cut {
    .title-sec {
      width: 100%;
      max-width: 920px;
    }
  }

  &--show {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}
