$browser-context: 16; // Default
$percent: 100%;
$myFullHD: 1440;

@function rem($pixels, $context: $browser-context) {
  @return #{calc($pixels / $context)}rem;
}

@function em($pixels, $context: $browser-context) {
  @return #{calc($pixels / $context)}em;
}

@function width($num, $ful: $myFullHD) {
  @return #{calc($num * $percent / $ful)};
}

@mixin font_sizes($size, $line_height) {
  font-size: rem($size);
  line-height: rem($line_height);
}

@mixin adaptive_size($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;

  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$myFullHD - 320}));
}
