.dfc {
  &__item {
    margin-bottom: rem(92);

    .title {
      text-transform: none;
    }

    .text {
      max-width: 350px;
    }
  }
}

.product-dfc {
  .title-sec {
    margin: 0 auto rem(64);
    max-width: 500px;
    text-align: center;
  }

  .box-item {
    padding: rem(20) rem(40);
    padding-top: rem(73);
  }

  .page-list {
    &__item {
      &::before {
        top: 24px;
      }

      &:nth-child(2) {
        .text {
          margin: 0 auto;
          max-width: 280px;
        }
      }

      &:last-child {
        .text {
          max-width: 100%;
        }
      }
    }
  }
}

.mapped {
  @include flex-s-sb;

  padding-bottom: rem(70);

  &__inner {
    padding-top: rem(130);
    width: 100%;
    max-width: 480px;

    .slogan {
      margin-bottom: rem(17);
    }

    .title-sec {
      margin-bottom: rem(43);
    }

    .text {
      margin-bottom: rem(41);
      width: 100%;
      max-width: 350px;
    }
  }

  &__img {
    width: 100%;
    max-width: 600px;
    transform: translateY(9%);
  }

  &__btn {
    position: relative;

    &--arrow {
      &::before {
        content: "";
        position: absolute;
        right: -10px;
        top: 50%;
        width: 16px;
        height: 16px;
        background-image: url("../img/sprite.svg#arrow-next");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }
    }

    &:not(:last-child) {
      margin-right: rem(15);
    }
  }
}
