.avoid {
  .slider {
    &__item {
      margin-bottom: rem(120);
      padding: rem(65) 0 0;

      .title-sec {
        margin-bottom: rem(16);
      }

      .text {
        max-width: 100%;
      }
    }

    &__item-inner {
      max-height: 540px;

      >.text {
        margin-bottom: rem(35);
        max-width: 100%;
      }
    }

    &__item-title {
      max-width: 400px;
    }

    .item-list {
      &__item {
        padding: rem(82) rem(34) rem(26);

        &::before {
          left: rem(34);
          top: rem(30);
        }
      }
    }

    .progress {
      position: relative;
      left: 0;
    }
  }
}
