.supply {
  margin-bottom: rem(340);
  padding-top: rem(20);

  &__content {
    margin: 0 auto rem(60);
    width: 100%;
    max-width: 620px;
    text-align: center;
  }

  &__title {
    margin: 0 auto rem(25);
    max-width: 550px;
  }

  &__form {
    @include flex-all-sb;

    .btn {
      white-space: nowrap;
    }

    @include for-width(-mobile-md) {
      flex-wrap: wrap;
    }
  }

  &__field {
    margin-right: rem(15);
    max-width: 435px;

    @include for-width(-mobile-md) {
      margin-right: 0;
      margin-bottom: rem(30);
      max-width: 100%;
    }
  }

  &__picture {
    width: 100%;
    max-width: 1270px;

    @include for-width(-tablet) {
      display: none;
    }
  }

  @include for-width(-tablet) {
    margin-bottom: rem(130);
  }
}
