.statistic {
  margin-bottom: rem(360);

  &__inner {
    @include flex-s-sb;

    @include for-width(-mobile-l) {
      flex-wrap: wrap;
    }
  }

  &__content {
    margin-right: rem(20);
    width: 100%;
    max-width: 565px;

    .text {
      line-height: 1.95;
    }
  }

  &__list {
    grid-template-columns: repeat(2, 260px);
    text-align: center;
    gap: rem(24);

    @include for-width(-desktop-med) {
      grid-template-columns: repeat(2, 240px);
    }

    @include for-width(-tablet) {
      grid-template-columns: repeat(1, 320px);
    }

    @include for-width(-mobile-l) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .item-list__item {
    padding: rem(70) rem(20);

    .item-title {
      margin-bottom: 8px;
      font-size: 36px;
      line-height: 1.3;
    }

    .text {
      font-size: 16px;
    }

    &:last-child {
      padding: rem(35) rem(20);
    }

    @include for-width(-desktop-med) {
      padding: rem(30) rem(20);
    }
  }

  @include for-width(-desktop-med) {
    margin-bottom: rem(170);
  }
}
