.tabs {
  &__item {
    padding-bottom: rem(80);

    &--open {

      &.tabs__item {
        padding-bottom: rem(100);
      }

      .tabs {

        &__list {
          &::before {
            transform: translateY(-50%) rotate(180deg);
          }
        }

        &__item-inner--description {
          padding-top: rem(80);
          opacity: 1;
          height: 100%;
          visibility: visible;

          @include for-width(-tablet) {
            padding-top: rem(40);
          }
        }
      }
    }

    @include for-width(-tablet) {
      padding-bottom: rem(40);
    }
  }

  &__item-inner {

    &--vacancy {
      @include flex-s-sb;

      padding: rem(80) rem(38) 0;

      @include for-width(-tablet) {
        display: block;
        padding: rem(40) rem(20) 0;
      }
    }

    &--description {
      padding: 0 rem(38);
      height: 0;
      opacity: 0;
      visibility: hidden;
      will-change: height;

      @include for-width(-tablet) {
        padding: 0 rem(20);
      }
    }
  }

  &__item-box {
    @include flex-s-sb;

    @include for-width(-tablet) {
      display: block;
    }
  }

  &__item-text {
    margin-right: rem(15);
    width: 100%;
    max-width: 490px;

    .text {
      margin-bottom: rem(27);
      line-height: 1.9;

      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }

    .btn {
      transform: translateY(-15px);
    }

    @include for-width(-tablet) {
      margin: 0 auto rem(30);
      max-width: 100%;
    }
  }

  &__item-list {
    margin-right: rem(10);
    width: 100%;
    max-width: 540px;

    &.text {
      margin: 0;
    }

    li {
      padding-left: rem(40);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 16px;
        height: 16px;
        background-image: url("../img/sprite.svg#check");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }

      &:not(:last-child) {
        margin-bottom: rem(23);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include for-width(-tablet) {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__item-title {
    margin-bottom: 0;

    @include for-width(-tablet) {
      margin-bottom: rem(24);
    }
  }

  &__list {
    @include flex-all-sb;

    position: relative;
    margin-right: rem(72);

    &::before {
      content: "";
      position: absolute;
      right: rem(-64);
      top: 50%;
      mask-image: url("../img/sprite.svg#select");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 17px;
      height: 9px;
      background-color: var(--color-white);
      transform: translateY(-50%);
      transition: transform 0.2s linear;
    }

    @include for-width(-tablet) {
      justify-content: flex-start;
    }

    @include for-width(-mobile-md) {
      display: block;
    }
  }

  &__list-item {
    @include body;

    position: relative;
    padding-left: rem(40);

    &::before {
      content: "";
      position: absolute;
      left: -4px;
      top: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      margin-right: rem(50);

      @include for-width(-tablet) {
        margin-right: rem(30);
      }

      @include for-width(-mobile-md) {
        margin-right: 0;
        margin-bottom: rem(24);
      }
    }

    &--time {
      &::before {
        width: 30px;
        height: 30px;
        background-image: url("../img/sprite.svg#clock");
      }
    }

    &--location {
      &::before {
        width: 32px;
        height: 29px;
        background-image: url("../img/sprite.svg#pin");
      }
    }

    &--specialist {
      &::before {
        width: 32px;
        height: 32px;
        background-image: url("../img/sprite.svg#user");
      }
    }
  }
}
