.runtime {
  &__slider {
    width: 100%;
    max-width: 617px;

    .item-title {
      margin-bottom: rem(65);
    }

    .item-list {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(55) rem(80);

      &--time {
        grid-template-columns: 210px 220px;
        gap: rem(55) rem(138);
      }

      @include for-width(-desktop-med) {
        grid-template-columns: repeat(2, 1fr);
        gap: rem(40) rem(80);
      }

      @include for-width(-mobile-sl) {
        grid-template-columns: repeat(1, 1fr);
        gap: rem(40) 0;
      }
    }

    @include for-width(-desktop-sm) {
      padding-top: rem(110);
      max-width: 80%;
    }

    @include for-width(-tablet) {
      max-width: 100%;
    }
  }
}

.slider-runtime {
  @include flex-all-sb;

  position: relative;
  align-items: flex-start;

  &__inner {
    margin-right: rem(20);
    width: 100%;
    max-width: 440px;
  }

  .title-sec {
    margin-bottom: rem(22);
    padding-right: rem(30);

    +.text {
      margin-bottom: rem(22);
      max-width: 340px;
    }
  }

  @include for-width(-desktop-sm) {
    display: block;
  }


}
