.hero {
  @include flex-s-sb;

  &__content {
    padding-top: rem(30);
    width: 100%;
    max-width: 455px;

    .text {
      span {
        position: absolute;
        padding-left: 4px;

        @include for-width(-tablet) {
          position: relative;
        }
      }

      @include for-width(-tablet) {
        margin: 0 auto rem(26);
        max-width: 455px;
        text-align: center;
      }

      @include for-width(-mobile-md) {
        line-height: 1.7;
        text-align: left;
      }
    }

    @include for-width(-tablet) {
      margin: 0 auto;
      padding-top: 0;
      max-width: 495px;
      text-align: center;
    }

    @include for-width(-mobile-md) {
      text-align: left;
    }
  }

  &__picture {
    position: relative;

    @include for-width(-tablet) {
      max-width: 640px;
    }
  }

  &__player {
    position: absolute;
    left: 0;
    right: -15%;
    top: 17%;
    margin: 0 auto;
    width: 450px;
    height: 60%;
  }

  &__btns {
    @include flex-v-center;

    .btn {
      @include flex-v-center;

      &:not(.btn--colored) {
        &:focus {
          color: var(--color-blue-700);
        }

        &:hover {
          color: var(--color-blue-700);
        }

        &:active {
          color: var(--color-blue-700);
        }
      }

      &:first-child {
        margin-right: rem(18);

        @include for-width(-tablet) {
          margin-right: 0;
        }
      }

      @include for-width(-mobile-md) {
        justify-content: center;
        width: 100%;
      }
    }

    svg {
      margin-left: rem(10);
      width: 24px;
      height: 24px;
      fill: transparent;
      stroke: currentColor;
    }

    @include for-width(-tablet) {
      justify-content: end;
      margin-right: 45px;
      margin-bottom: rem(120);
    }

    @include for-width(-mobile-md) {
      flex-wrap: wrap;
      margin: 0 0 rem(24) 0;
    }
  }

  &--home {
    margin-bottom: rem(23);

    .hero__picture {
      margin-right: -17%;

      @include for-width(-tablet) {
        margin: 0 auto;
      }
    }
  }

  &--platform {
    align-items: center;
    margin-bottom: 5px;

    .hero__content {
      margin-bottom: rem(30);
      padding-top: 0;
    }

    .hero__picture {
      margin-right: -16%;
      padding-top: rem(20);
    }

    .text {
      width: 100%;
      max-width: 318px;
    }
  }

  &--download {
    margin-bottom: rem(280);

    .hero__content {
      max-width: 440px;
    }

    .slogan {
      margin-bottom: rem(15);
    }

    .title-sec {
      margin-bottom: rem(38);
    }

    .hero__picture {
      margin-right: rem(-45);
      padding-top: rem(55);
    }
  }

  &--dfc {
    margin-bottom: rem(122);
  }

  &--dfc-bottom {
    align-items: center;
    padding-bottom: rem(38);

    .hero__content {
      padding-top: 0;
      max-width: 484px;
    }

    .title-sec {
      margin-right: rem(27);
    }

    >.text {
      max-width: 355px;
    }
  }

  &--avoid {
    align-items: center;
    margin-bottom: rem(140);
    padding-top: rem(100);

    .hero__content {
      padding-top: 0;
      max-width: 380px;
    }
  }

  &--organization {
    align-items: center;
    padding-top: rem(0);

    .hero__content {
      padding-top: 0;
      max-width: 500px;
    }
  }

  &--book {
    align-items: center;

    .hero__content {
      padding-top: 0;
      max-width: 460px;
    }
  }

  &--alert {
    margin-bottom: rem(137);
    padding-top: rem(75);

    .hero__content {
      max-width: 425px;
    }
  }

  &--supply {
    align-items: center;
    margin-top: -10px;
    margin-right: -10px;
    padding-bottom: rem(65);

    .hero__content {
      max-width: 465px;

      .text {
        margin-right: rem(20);
      }
    }
  }

  &--runtime-top {
    margin-bottom: rem(120);
    padding-top: rem(50);

    .hero__content {
      max-width: 600px;

      .text {
        line-height: 1.9;
      }
    }
  }

  &--runtime-bottom {
    .hero__content {
      max-width: 510px;
    }
  }

  @include for-width(-tablet) {
    display: block;
    margin-bottom: rem(145);
  }

  @include for-width(-mobile-md) {
    margin-bottom: rem(95);
  }
}
