.hero {
  @include flex-s-sb;

  &__content {
    margin-right: rem(20);
    padding-top: rem(30);
    width: 100%;
    max-width: 455px;

    .text {
      span {
        position: absolute;
        padding-left: 4px;

        @include for-width(-tablet) {
          position: relative;
        }
      }

      @include for-width(-tablet) {
        margin: 0 auto rem(26);
        max-width: 455px;
        text-align: center;
      }

      @include for-width(-mobile-md) {
        line-height: 1.7;
        text-align: left;
      }
    }

    @include for-width(-tablet) {
      margin: 0 auto;
      padding-top: 0;
      max-width: 500px;
      text-align: center;
    }

    @include for-width(-mobile-md) {
      text-align: left;
    }
  }

  &__picture {
    position: relative;

    @include for-width(-tablet) {
      margin: 0 auto;
      max-width: 640px;
    }
  }

  &__player {
    position: absolute;
    left: 0;
    right: -15%;
    top: 17%;
    margin: 0 auto;
    width: 100%;
    height: 60%;
    max-width: 450px;

    @include for-width(-tablet) {
      top: 25%;
      height: 50%;
    }
  }

  &__btns {
    @include flex-v-center;

    .btn {
      @include flex-v-center;

      &:not(.btn--colored) {
        &:focus {
          color: var(--color-blue-700);
        }

        &:hover {
          color: var(--color-blue-700);
        }

        &:active {
          color: var(--color-blue-700);
        }
      }

      &:first-child {
        margin-right: rem(18);

        @include for-width(-mobile-md) {
          margin-right: 0;
          margin-bottom: rem(20);
        }
      }

      &--book.btn {
        @include for-width(-mobile-md) {
          width: fit-content;
        }
      }

      @include for-width(-mobile-md) {
        justify-content: center;
        width: 100%;
      }
    }

    svg {
      margin-left: rem(10);
      width: 24px;
      height: 24px;
      fill: transparent;
      stroke: currentColor;
    }

    @include for-width(-tablet) {
      justify-content: center;
      margin-right: 0;
      margin-bottom: rem(50);
    }

    @include for-width(-mobile-md) {
      flex-wrap: wrap;
      margin: 0 0 rem(24) 0;
    }
  }

  &--home {
    margin-bottom: rem(74);
    padding-top: rem(30);

    .hero__picture {
      width: 100%;
      max-width: 1067px;
      transform: translateX(15%);

      @include for-width(-tablet) {
        margin: 0 auto;
      }
    }
  }

  &--platform {
    align-items: center;
    margin-bottom: 16px;
    padding-top: rem(40);

    .hero__content {
      margin-bottom: rem(30);
      padding-top: 0;
    }

    .hero__picture {
      margin-right: -16%;
      padding-top: rem(20);

      @include for-width(-tablet) {
        margin: 0 auto;
      }
    }

    .text {
      width: 100%;
      max-width: 318px;

      @include for-width(-tablet) {
        max-width: 430px;
      }
    }

    .hero__btns {
      .btn {
        @include for-width(-tablet) {
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

  &--download {
    margin-bottom: rem(280);

    .hero__content {
      max-width: 440px;

      .text {
        max-width: 100%;
        text-align: left;
      }

      @include for-width(-tablet) {
        max-width: 530px;
      }
    }

    .slogan {
      margin-bottom: rem(15);
    }

    .title-sec {
      margin-bottom: rem(38);
    }

    .hero__picture {
      margin-right: rem(-45);
      padding-top: rem(55);

      @include for-width(-desktop-med) {
        margin: 0;
      }

      @include for-width(-tablet) {
        margin: 0 auto;
        padding-top: 0;
        width: 70%;
      }

      @include for-width(-mobile-md) {
        padding-top: rem(20);
        width: 90%;
      }
    }

    .btn--colored {
      @include for-width(-mobile-md) {
        margin: 0 auto rem(20);
      }
    }

    .circle-bg {
      &::before {
        left: 0;
        right: 0;
        top: auto;
        margin: 0 auto;
        width: rem(600);
        height: rem(600);

        @include for-width(-tablet) {
          width: 80%;
          height: 80%;
        }
      }
    }

    &.hero {
      @include for-width(-tablet) {
        margin-bottom: rem(70);
      }
    }
  }

  &--dfc {
    margin-bottom: rem(122);
    padding-top: rem(110);

    @include for-width(-tablet) {
      margin-bottom: rem(70);
    }
  }

  &--dfc-bottom {
    align-items: center;
    padding: rem(45) 0 rem(38);

    .hero__content {
      padding-top: 0;
      max-width: 484px;

      >.text {
        max-width: 355px;
      }
    }

    .slogan {
      margin-bottom: rem(13);
    }

    .title-sec {
      margin-right: rem(27);
      margin-bottom: rem(38);
    }
  }

  &--avoid {
    align-items: center;
    margin-bottom: rem(145);
    padding-top: rem(100);

    .hero__content {
      padding-top: 0;
      max-width: 380px;

      @include for-width(-desktop-sm) {
        max-width: 460px;
      }
    }

    .hero__picture {
      display: none;
    }

    @include for-width(-desktop-sm) {
      padding-top: 0;
    }
  }

  &--organization {
    align-items: center;
    padding-top: rem(0);

    .slogan {
      margin-bottom: rem(10);
    }

    .title-sec {
      margin-bottom: rem(40);
    }

    .hero__content {
      padding-top: 0;
      max-width: 500px;
    }

    .circle-bg {
      &::before {
        right: 0;
        top: auto;
        width: rem(670);
        height: rem(670);

        @include for-width(-tablet) {
          left: 0;
          right: 0;
          top: 10%;
          margin: 0 auto;
          width: 80%;
          height: 80%;
        }
      }
    }

    @include for-width(-mobile-sl) {
      padding-top: rem(100);
    }

    @include for-width(-mobile-s) {
      padding-top: rem(150);
    }
  }

  &--book {
    align-items: center;

    .hero__content {
      padding-top: 0;
      max-width: 460px;
    }
  }

  &--alert {
    margin-bottom: rem(137);
    padding-top: rem(107);

    .hero__content {
      max-width: 425px;
    }

    @include for-width(-desktop-sm) {
      padding-top: 0;
    }

    .hero__picture {
      &.circle-bg {
        &::before {
          display: none;
        }
      }
    }
  }

  &--supply {
    align-items: center;
    margin-top: -10px;
    margin-right: -10px;
    padding-top: 6px;
    padding-bottom: rem(65);

    .hero__content {
      max-width: 465px;

      .slogan {
        margin-bottom: rem(15);
      }

      .title-sec {
        margin-bottom: rem(36);
      }

      .text {
        margin-right: rem(20);
        max-width: 440px;
      }
    }

    &.bottom {
      .circle-bg {
        &::before {
          right: 0;
          top: auto;
          bottom: 0;
          width: rem(670);
          height: rem(670);

          @include for-width(-desktop-sm) {
            width: 80%;
            height: 80%;
          }
        }
      }
    }
  }

  &--runtime-top {
    margin-bottom: rem(120);
    padding-top: rem(82);

    .hero__content {
      max-width: 575px;

      .text {
        @include for-width(-tablet) {
          max-width: 100%;
        }
      }
    }
  }

  &--runtime-bottom {
    margin-bottom: rem(13);
    padding-top: rem(25);

    .hero__content {
      max-width: 510px;

      .slogan {
        margin-bottom: rem(13);
      }

      .title-sec {
        margin-bottom: rem(40);
      }
    }

    .hero__picture {
      top: -45px;
      margin-right: -24%;
      max-width: 1020px;

      @include for-width(-desktop-sm) {
        top: 20px;
      }

      @include for-width(-tablet) {
        margin-right: auto;
      }
    }

    @include for-width(-desktop-sm) {
      margin-bottom: rem(50);
    }
  }

  &--architecture {
    padding-top: rem(137);

    .hero__content {
      padding-top: 0;
      max-width: 500px;

      .text {
        max-width: 330px;

        @include for-width(-mobile-l) {
          margin-left: 0;
        }
      }
    }
  }

  &--archit {
    align-items: center;
    margin-bottom: rem(122);

    .hero__content {
      margin-right: 0;
      padding-top: rem(20);
      max-width: 475px;
    }

    .slogan {
      margin-bottom: rem(13);
    }

    .title-sec {
      margin-bottom: rem(38);
    }

    .slider-home__player {
      max-width: 680px;
    }

    @include for-width(-tablet) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--company {
    padding-top: rem(190);

    .hero__content {
      position: relative;
      z-index: 5;
      max-width: 440px;
    }

    .title-sec {
      margin-bottom: rem(24);
    }

    .hero__picture {
      transform: translateY(-26%);

      &.circle-bg::before {
        top: 0;
      }

      @include for-width(-tablet) {
        transform: translateY(0);
      }
    }
  }

  @include for-width(-tablet) {
    display: block;
    margin-bottom: rem(145);
    padding-top: 0;
  }

  @include for-width(-mobile-md) {
    margin-bottom: rem(95);
  }
}
