.assurance {
  margin-bottom: rem(300);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
    background: var(--color-gradient-dark);
  }

  &__wrapper {
    @include flex-v-center;

    @include for-width(-tablet) {
      display: block;
      margin-bottom: rem(100);
    }
  }

  &__inner {
    &:not(:last-child) {
      margin-right: rem(144);

      @include for-width(-desktop-med) {
        margin-right: rem(100);
      }

      @include for-width(-desktop-sm) {
        margin-right: rem(70);
      }

      @include for-width(-tablet) {
        margin: 0 auto rem(40);
        text-align: center;
      }
    }

    &--content {
      width: 100%;
      max-width: 380px;

      @include for-width(-desktop-med) {
        max-width: 330px;
      }

      @include for-width(-tablet) {
        padding-top: rem(60);
        max-width: 100%;
      }
    }
  }

  .page-list {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      transform: translateY(19%);
      gap: rem(29);

      @include for-width(-tablet) {
        grid-template-rows: repeat(2, 1fr);
        max-width: 850px;
        transform: translateY(0);
      }

      @include for-width(-mobile-md) {
        grid-template-columns: repeat(1, 402px);
        grid-template-rows: repeat(4, 1fr);
      }

      @include for-width(-mobile-sl) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__item {
      padding: 20px;
    }
  }

  .item-list {
    &__item {
      padding: rem(30) rem(30) rem(33);

      &:nth-last-child(n+3) {
        .text {
          max-width: 220px;

          @include for-width(-desktop-med) {
            max-width: 100%;
          }
        }
      }

      &:last-child {
        .text {
          padding-right: rem(30);
        }
      }
    }
  }
}
