.platform-page {
  .page-list {
    &__title {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: rem(24);
    text-align: center;
  }

  &__text {
    margin: 0 auto rem(57);
    width: 100%;
    max-width: 650px;
    text-align: center;
  }

  .item-list {
    &__item {
      padding: rem(86) rem(40) rem(35);

      &::before {
        left: 0;
        right: 0;
        top: rem(35);
        margin: 0 auto;
      }

      .text {
        margin: 0 auto;
        width: 100%;
        max-width: 220px;
      }

      &:last-child {
        .text {
          max-width: 290px;
        }
      }
    }
  }
}
