@import "platform";
@import "assurance";

.download-list {
  margin-bottom: rem(40);
  padding-right: rem(24);
  width: 100%;

  &__item {
    position: relative;
    padding-left: rem(40);

    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  @include for-width(-tablet) {
    margin: 0 auto rem(60);
  }
}

.download {
  &__btn {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: -12px;
      width: 24px;
      height: 24px;
      background-image: url("../img/sprite.svg#download");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.btn {
      width: fit-content;
    }
  }
}
