/* stylelint-disable at-rule-blacklist */
body {
  @include flex-column;

  position: relative;
  overflow-x: hidden;
  height: 100%;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0;
  color: var(--color-white);
  background-color: var(--color-black);
}

.site-container {
  overflow: hidden;
}

.bottom {
  margin-bottom: rem(200);

  @include for-width(-tablet) {
    margin-bottom: 30px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1295px;

  @include for-width(-tablet) {
    padding: 0 rem(30);
  }
}

.logo {
  display: flex;
  margin-right: rem(40);

  &__img {
    width: 100%;
    max-width: rem(185);
  }

  @include for-width(-desktop-med) {
    margin-right: rem(20);
  }
}

.error {
  border: 2px #ff4019 solid;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: var(--color-orange-200);
}

.sr-only {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.item-box {
  border: 2px solid var(--color-blue-300);
  border-radius: var(--radius-main);
  background: var(--color-gradient);
}

.circle-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -3%;
    z-index: -1;
    width: 920px;
    height: 920px;
    background: linear-gradient(247.71deg, rgba(174, 200, 255, 0.3) 0%, rgba(5, 68, 208, 0.3) 40.26%, rgba(255, 255, 255, 0) 122.71%);
    filter: blur(130.494px);
  }

  &--animation {
    &::before {
      left: 0;
      right: 0;
      bottom: 3%;
      margin: 0 auto;
      width: 684px;
      height: 684px;
      background: linear-gradient(247.71deg, rgba(174, 200, 255, 0.3) 0%, rgba(5, 68, 208, 0.3) 40.26%, rgba(255, 255, 255, 0) 122.71%);
      filter: blur(227.494px);
    }
  }

  &--title {
    &::before {
      left: 0;
      right: 0;
      top: -15%;
      margin: 0 auto;
      width: 422px;
      height: 422px;
      background: linear-gradient(247.71deg, rgba(174, 200, 255, 0.25) 0%, rgba(5, 68, 208, 0.25) 40.26%, rgba(255, 255, 255, 0) 122.71%);
      filter: blur(122.494px);
    }
  }

  &--slider {
    &::before {
      left: 0;
      width: 690px;
      height: 690px;
      background: linear-gradient(247.71deg, rgba(174, 200, 255, 0.25) 0%, rgba(5, 68, 208, 0.25) 40.26%, rgba(255, 255, 255, 0) 122.71%);
      filter: blur(127.494px);
    }
  }
}
